@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth !important;
  font-family: var(--font-poppins), sans-serif;

}

.FloatingAnimation {
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.scrollhide::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  overflow-y: auto;
  width: 0.7rem;
}
::-webkit-scrollbar-track {
  /*   background-color: rgba(0, 0, 0, 0.909);
  */
}

::-webkit-scrollbar-thumb {
  background-color: #6c3ae9;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(219, 50, 50, 0.919);
}
